html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,body{
  width: 100%;
  height: 100%;
  color: var(--font-color);
} */

/* body::-webkit-scrollbar{
  display: none;
} */



:root{
  --primary-color: #E1DFDD;
  /* --primary-color: #E1DFDD; */
  --font-color: #000000;
}
@font-face {
  font-family: "ppneue";
  src: url(../public/PPNeueMontreal-Medium.f9b3b92f.woff2);
}

/* .mouse-follower{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  z-index: 9999;
  transition: all .1s ease-out;
} */

.main{
  background-color: var(--primary-color);
  width: 100%;
  overflow-x: hidden;
  position: relative;

}
.header{
  display: flex;
  justify-content: space-around;
  padding: 30px 10px 0 10px;

}
.name-div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 5px;

}
.side-navs{
  display: flex;
  justify-content: center;
  gap: 4px;
}
.profile-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-image: url(./1.png); */
  background-size: cover;
  margin-top: -2px;
}


.side-navs a {
  color: var(--font-color);
}
.header h2{
  font-size: 22px;
  font-family: "ppneue";
  font-weight: bold;
  color: var(--font-color);
}

.main-heading h2 {
  display: block;
  height: 130px;
  overflow: hidden;
  padding-left: 20px;
  font-size: 126px; 
  font-family: "ppneue";
  line-height: 150px;
  font-weight: 500;
  margin-bottom: -20px;
}
.main-heading .heading-continer{
  padding: 50px 50px;
}


.main-heading h2 span{
  display: inline-block;  /*could also be inline flex */
  margin-top: 105px;
  /* margin-right: -40px; */
}


.nameheading{
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 35vh;
  /* background-color: orange; */
}

.nameheading div{
  padding: 0 100px;
 
}  
.nameheading .name h2{
  font-size: 126px;
  font-family: "ppneue";
  font-weight: 400;
  line-height: .8;
}


.quote .down-arrow{
  font-size: 50px;
}
.quote h2{
  font-family: "ppneue";
  text-transform: uppercase;
  font-weight: normal;
}


/* quote section after name */

.quotesection{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px;
}
.quotesection div{
  padding: 0 20px;
  width: 100%;
  /* height: 350px; */

}
.quotesection .linebox div{
  height: 50px;
  /* background-color: greenyellow; */
  overflow: hidden;
}
.quotesection .linebox div h2{
  /* background-color: #fff; */
  font-size: 40px;
  font-family: "ppneue";
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 50px;
}



/* selected work section */


.container{
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.work-container{
  padding: 10px;
  display: flex;
  align-items: center;
}

.project{
  width: 13%;
  height: 80%;
}

.project .description{
  padding: .5rem 2rem 0 .3rem;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: orange; */
  font-size: 2vw;
  color: white;
  font-size: "ppneue";
}

.work-head{
  font-size: 28vw;
  font-weight: 200;
}
.project .image{
  width: 100%;
  height: 80%;
}

.project .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}


/* .panel1{
  width: 100vw;
  height: 100vh;
} */

.panel{
  width: 100vw;
  height: 100vh;
}


/* */
.red-div{
  /* padding: 2rem 4rem; */
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: black;
  width: calc(400vw - 100vw);
}