*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}

body::-webkit-scrollbar{
  display: none;
}

img{
  user-select: none;
}

:root{
  --primary-color: #E1DFDD;
  /* --primary-color: #E1DFDD; */
  --font-color: #000000;
}
@font-face {
  font-family: "ppneue";
  src: url(../public/PPNeueMontreal-Medium.f9b3b92f.woff2);
}



.main{
  background-color: var(--primary-color);
  width: 100%;
  overflow-x: hidden;
  position: relative;

}
.header{
  display: flex;
  justify-content: space-around;
  padding: 30px 10px 0 10px;

}
.name-div {
  display: flex;
  justify-content: center;
  gap: 5px;
}


.side-navs{
  display: flex;
  justify-content: center;
  gap: 4px;
}


.side-navs a {
  color: var(--font-color);
}
.header h2{
  font-size: 22px;
  font-family: "ppneue";
  font-weight: bold;
  color: var(--font-color);
}

.main-heading h2{
  display: block;
  height: 130px;
  overflow: hidden;
  font-size: 126px; 
  font-family: "ppneue";
  font-weight: 500;
  margin-bottom: -20px;
}
.main-heading .heading-continer{
  padding: 50px 50px;
}


.main-heading h2 span{
  display: inline-block;  /*could also be inline flex */
  margin-top: 105px;
  /* margin-right: -40px; */
}


.nameheading{
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 35vh;
}

.nameheading div{
  padding: 0 100px;
 
}  
.nameheading .name h2{
  font-size: 126px;
  font-family: "ppneue";
  font-weight: 400;
  line-height: .8;
}


.quote .down-arrow{
  font-size: 50px;
}
.quote h2{
  font-family: "ppneue";
  text-transform: uppercase;
  font-weight: normal;
}

.sm-screen{
  display: none;
  text-transform: uppercase;
  padding-left: 5px;
  margin-bottom: 1.5rem;
}
/* smaller phones */
@media only screen and (max-width: 500px) {
  .undergrad,.hellow{
    display: none;
  }
  .header{
    justify-content: space-between;
  }
  .sm-screen{
    display: block;
  }
  .main-heading .heading-continer{
    padding: 130px 20px;
  }
  .heading-continer h2{
    font-size: 52px;
    height: 60px;
  }
  .nameheading{
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    height: max-content;
  }
  .nameheading div{
    padding: 0 20px;
  } 
  .nameheading .quote{
    display: none;
  }
  .nameheading .name h2{
    font-size: 52px;
  }
}

/* quote section after name */

.quotesection{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px;
}
.quotesection div{
  padding: 0 20px;
  width: 100%;
  /* height: 350px; */
}
.quotesection .linebox div{
  height: 50px;
  /* background-color: greenyellow; */
  overflow: hidden;
}
.quotesection .linebox div h2{
  font-size: 40px;
  font-family: "ppneue";
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 70px;
}

@media only screen and (max-width: 500px){
  .quotesection{
    padding: 180px 0;
  }
 
  .quotesection  .linebox div{
    height: fit-content;
  }

  .quotesection  .linebox div h2{
    font-size: 30px;
  }

  .quotesection  .linebox div{
    height: 70px;
  }

}

/* selected work section */
.container{
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.work-container{
  padding: 10px;
  display: flex;
  align-items: center;
}

.project{
  width: 17%;
  height: 85%;
}

.project .description{
  padding: .8rem 2rem 0 .3rem;
  display: flex;
  align-items: center;
  font-size: 2vw;
  color: white;
  font-size: "ppneue";

}

.work-head{
  font-size: 28vw;
  font-weight: 200;
}
.project .project-images{
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
}
/* imamge div. */
.project-images .image{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  
}

.project .image img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* object-position:left; */
}
.controllers{
  width: 100%;
  display: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  color: rgb(88, 86, 86);
  font-size: 2rem;
  padding: 0 .5rem;
}
.controllers .left,.right{
  cursor: pointer;
}

.image:hover .controllers{
  display: flex;
}
.image:hover{
  opacity: .9;
}


.panel{
  width: 100vw;
  height: 100vh;
}


/* */
.all-projects{
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: black;
  width: calc(400vw - 100vw);
}




/* contact */
.contact-sect{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-sect .top{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  padding: 3rem 1rem;
}
.contact-sect .bottom{
  padding: 0 2.5rem;
}
.contact-sect .bottom h1{
  font-size: 5vw;
  font-weight: 400;
  word-break: break-all;
  text-decoration: underline;
  line-height: 1;
  color: black;
}

@media only screen and (max-width: 500px){
  .container{
    width: 100%;
    height: 350vh;
  }
  .work-container{
    height: 50vh;
  }
 
  .all-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    padding: 1rem 1.5rem;
    width: 100%;
    height: 260vh;
    gap: 90px;
  }
  .all-projects .project{
    width: 100%;
    height: 34vh;
  }
  
  .all-projects div .project-images .image img{
    width: 100%;
    height: 100%;
  }
  .all-projects div .description{
    display: block;
    padding: 5px;
    font-size: 1rem;
  }
  
  .all-projects .project .project-images{
    height: 80%;
    width: 100%;
  }
}
/* mouse followe */

.follower{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  scale: 0;
}


